<!DOCTYPE html>
<html lang="zxx">
{% load static %}
<head>
<title>Matching person :: Kalyanam Matrimonium</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Vivaah Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href=" {% static 'css/bootstrap.css' %} " rel="stylesheet" type="text/css" media="all" />
<link href=" {% static 'css/font-awesome.css' %} " rel="stylesheet"> 
<link href=" {% static 'css/easy-responsive-tabs.css' %} " rel='stylesheet' type='text/css'/>
<link href=" {% static 'css/style.css' %} " rel="stylesheet" type="text/css" media="all" />
<!--fonts-->
<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dancing+Script:400,700" rel="stylesheet">
<!--//fonts-->

</head>
<body>
<!--banner start here-->
<div class="banner-w3ls inner-banner-agileits" id="home">
	<div class="container">
		<!-- header -->

                 <div class="header-inner">
					 <h1><a href=" {% url 'index.html' %} "><img src="{% static 'images/logo.png' %}" style="width:10%;float:left;"></a></h1>
						<nav class="navbar navbar-default">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<!-- navbar-header -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<ul class="nav navbar-nav navbar-right">
									<li><a href=" {% url 'index.html' %} " class="active">Home</a></li>
									<li><a href=" {% url 'about.html' %} ">About</a></li>

									<li><a href=" {% url 'contact.html' %} ">Contact</a></li>
										{% if request.session.log_id %}
									<li><a href=" {% url 'matches.html' %} ">Matches</a></li>
							<li><a href=" {% url 'savelist.html' %} ">Savelist</a></li>
							{% endif %}
								</ul>
							</div>
							<div class="clearfix"> </div>
						</nav>
						<div class="header-right-w3ls">
							{% if request.session.log_id %}
							<a href="/logout">Log out</a>
							{% else %}
							<a href=" {% url 'login.html' %} ">Log In</a>
							{% endif %}

							<a href=" {% url 'profile.html' %} ">Profile</a>
						</div>
						<div class="clearfix"></div>
				</div>
</div>			
</div>
<!--//home-->
<!--banner end here-->
<!-- breadcrumbs -->
<div class="w3l_agileits_breadcrumbs">
   <div class="container">
		<div class="w3l_agileits_breadcrumbs_inner">
			<ul>
				<li><a href=" {% url 'index.html' %} ">Home</a><span>&#187;</span></li>
									
				<li>Save List<span>&#187;</span></li>
				<li>Matches</li>
				</ul>
		</div>
	</div>
</div>
{% if messages %}
        {% for msg in messages%}
            <script>alert('{{ msg }}');</script>
        {% endfor %}
    {% endif %}
<!-- //breadcrumbs -->
<div class="matches elite-app">
	<div class="container">
	<div class="tittle-agileinfo">
		<h3>Match</h3>
	</div>

	<div class="matches-main-agileinfo">
		<div class="col-md-6">
			<img src="/media/{{ data.picture}}" height="330px" width="250px">
		</div>
		<div class="col-md-6 person-info-agileits-w3layouts">
			<ul>
				<li><span>Name</span>: {{ data.pname }}</li>
				<li><span>Height</span>: {{ data.height }}</li>
				<li><span>Weight</span>: {{ data.weight }}</li>
				<li><span>Caste</span>: {{ data.caste }}</li>
				<li><span>Education</span>: {{ data.education }}</li>
				<li><span>Income</span>: {{ data.income }}</li>
				<li><span>Meternal</span>: {{ data.meternal }}</li>
				<li><span>Location</span>: {{ data2.cityid }}, {{data2.stateid}}</li>

				<li><a href="../getmail/{{ data.id }}">Get Mobile Number</a></li>

			</ul>
		</div>
		<div class="clearfix"> </div>
		<div class="about-person">
			<h6>Looking For</h6>
			<p class="para-agileits-w3layouts"><span>Hi I am {{ data.pname }}</span>  and i am looking for {{ data.expectation }}</p>

		</div>
	</div>
	</div>
</div>
<!--login-inner-->
<!-- footer -->
<div class="w3l_footer">
		<div class="container">
				<div class="w3ls_footer_grid">
					<div class="col-md-4 w3ls_footer_grid_left">
							<h4>Location:</h4>
							<p>Kalayanam Matrimonium, Nikol,<br> Ahemdabad, Gujrat</p>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
							<h4>Contact us:</h4>
							<p><span>Phone : </span>971-221-7218</p>
							<p><span>Email : </span><a href="mailto:kalyanammarimony03@gmail.com">kalyanammarimony03@gmail.com</a></p>
					</div>
					<div class="col-md-4 w3ls_footer_grid_left">
							<h4>Opening hours:</h4>
							<p>Working days (8am-9pm)</p>
							<p>Sundays (9am-1pm)</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<!-- footer-button-info -->
				<div class="footer-middle-agileinfo">
					<div class="footer-button">
					<div class="button-top-w3layouts">
						<div class="logo-icons-w3ls">
							<i class="fa fa-heart heart1" aria-hidden="true"></i>
							<i class="fa fa-heart-o heart2" aria-hidden="true"></i>
						</div>
					</div>
						<div class="sim-button button12"><a href=" {% url 'contact.html' %} ">Contact Us</a></div>
						<h2>We’re Committed to Service Excellence.</h2>
					</div>
				</div>
				<!-- footer-button-info -->
		</div>
</div>

<div class="botttom-nav-agileits">
	<ul>
		<li><a href=" {% url 'index.html' %} ">Home</a></li>
		<li><a href=" {% url 'about.html' %} ">About</a></li>
		<li><a href=" {% url 'matches.html' %} ">Matches</a></li>
		<li><a href=" {% url 'contact.html' %} ">Contact</a></li>
	</ul>
</div>
<div class="footer-w3layouts">
				<div class="container">
				<div class="agileits-social">
					<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						</ul>
				</div>
					<div class="clearfix"></div>
				</div>
			</div>
<!--/footer -->

<!-- js -->
<script type='text/javascript' src=" {% static 'js/jquery-2.2.3.min.js' %} "></script>
<!-- script for responsive tabs -->						
<script src=" {% static 'js/easy-responsive-tabs.js' %} "></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion           
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!-- script for responsive tabs -->		


<script src=" {% static 'js/SmoothScroll.min.js' %} "></script>
<!-- smooth scrolling -->
	<script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
			};
		*/								
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
	</script>
	
	
	<a href=" {% static '#home' %} " class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
	<!-- //for-Clients -->
	<!-- start-smoth-scrolling -->
<script type="text/javascript" src=" {% static 'js/move-top.js' %} "></script>
<script type="text/javascript" src=" {% static 'js/easing.js' %} "></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src=" {% static 'js/bootstrap-3.1.1.min.js' %} "></script>
	

</body>
</html>